{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}

    <h2>{{ conference }} Конференция</h2>

    {% if comments|length > 0 %}
        <div>Здесь {{ comments|length }} комментариев.</div>

        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"/>
            {% endif %}

            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Предыдущая</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Следующая</a>
        {% endif %}
    {% else %}
        <div>Пока нет комментариев к этой конференции.</div>
    {% endif %}

    <h2>Оставьте свой комментарий</h2>

    {{ form(comment_form) }}
{% endblock %}
